body {
    background-color: #55b3e3;
}

#typed{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

p{
    font-family: 'Montserrat', sans-serif;
}

textarea{
    resize: none;
}

.navigacija{
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.slicica{
    margin-top: 5px;
    width: 100px;
}

.slicicaChannel{
    margin-top: 15px;
    width: 100px;
    margin-left: 15px;
}

a{
    text-decoration: none;
}

.navPigster{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 38px;
    display: inline;
    margin-left: 15px;
    float: left;
    position: absolute;
}

.plus{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 6%;
    min-width: 50px;
}

#plusFaded{
    opacity: 0;
}

.prase{
    width: 80px;
    margin-left: 150px;
}

#pigpig{
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
}

#pocetnaPrase{
    position: absolute;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;


}
.pocPig {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.pocPig:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.labela{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    line-height: 100%;
}

.labelaDesc{
    color: #3d3d3d;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

.channelBox{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    height: 130px;
    width: 100%;
}

.createBox{
    height: 500px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    margin-top: 10%;
    padding-top: 30px;
}

.thumbQueue{
    width: 83%;
    margin-top: 10px;
}

.queueWrap{
    padding-top: 15px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 20px;
    margin-left: 20px;
    display: none;
}

#query{
    margin-left: 10%;
    width: 70%;
    height: 37px;
    /*font-size: 20px;*/
}

.videoName{
    margin-top: 25px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.videoNameSearch{
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#search-container{
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#search-button {
    line-height: 1.1;
    height: 34px;
}

.resultVideos{
    margin-top: 20px;
    display: none;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.myIframe {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY
border: solid black 1px;
}
.myIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.clickable{
    cursor: pointer;
}
