<!DOCTYPE html>
<html>
<head>
 {% block title %}
 <title></title>
 {% endblock title %}
 <script
         src="https://code.jquery.com/jquery-2.2.3.min.js"
         integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
         crossorigin="anonymous"></script>

 <link rel="icon"
       type="image/png"
       href="{{ asset('bundles/main/images/pig.png') }}">

 <link rel="stylesheet" href="{{ asset('bundles/main/css/bootstrap.min.css') }}">
 <link rel="stylesheet" href="{{ asset('bundles/main/css/custom.css') }}">
 <link rel="stylesheet" href="{{ asset('bundles/main/css/boootstrap-theme.min.css') }}">
 <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

 <script type="text/javascript" src="{{ asset('bundles/main/js/custom.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>
 <script type="text/javascript" src="{{ asset('bundles/main/js/typed.js') }}"></script>
 <script>
   $(function(){
    $("#typed").typed({
     stringsElement: $('#typed-strings'),
     typeSpeed: 20
    });
   });
 </script>

 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70010082-2', 'auto');
  ga('send', 'pageview');

 </script>

</head>

{% block body %}
<body>

</body>
{% endblock body %}



</html>