{% extends "MainBundle::layout.html.twig" %}

{% block title %}
    <title>Pigster</title>
{% endblock title %}

{% block body %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center" style="position: relative">
                    {#<img id="pocetnaPrase" class="img-responsive center-block" style="margin-top: 150px"
                    src="{{ asset('bundles/main/images/pigFade.png') }}">#}
                    <a id= "praseklik" href="{{ path('showall') }}">
                        <img class="img-responsive center-block pocPig clickable" style="margin-top: 150px" src="{{ asset('bundles/main/images/pig.png') }}">
                    </a>
                    <!--<button class="btn btn-block">ORASPOLOZI ME</button>-->
                    <span id="typed"></span>

                    <div id="typed-strings" style="display: none;">
                        <p>Are you feeling sad ?^500</p>
                        <p>You're in the right place! :)^500</p>
                        <p>Welcome to PIGSTER!</p>
                    </div>
                </div>
            </div>
        </div>

    <script>
        $(function(){
            setTimeout(function(){
                window.location.href = "{{ path('showall') }}";
            }, 10000);
        });

    </script>

    </body>
{%  endblock body %}