{% extends "MainBundle::layout.html.twig" %}

{% block title %}
    <title>{{ channelName }}</title>
{% endblock title %}

{% block body %}
    <body>
    <style>
        body {
            background-image: url("{{ asset('bundles/main/images/stripesWide.png') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <div class="navigacija">
        <a href="{{ path('showall') }}">
            <p class="navPigster">Pigster</p>
            <img id="pigpig" class="prase clickable" src="{{ asset('bundles/main/images/pigFade.png') }}">
            <img class="img-responsive prase" src="{{ asset('bundles/main/images/pig.png') }}">
        </a>
    </div>

    <div class="container-fluid">
        <div class="row">

            {#search bar and results#}
            <div class="col-md-6 col-xs-12" style="margin-top: 20px;">

                <input id="query" placeholder="Song name here..." type="text"/>
                <button id="search-button" class="btn" disabled onclick="search()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>

                <div class="resultVideos">
                    <div id="search-container">
                        {#search results#}
                    </div>
                </div>

            </div>

            {#channel and now playing#}
            <div class="col-md-6 col-xs-12" style="margin-top: 20px">
                <div class="channelBox" style="border-radius: 0px">
                    <div class="row">

                        <div class="col-md-3 col-xs-5 col-lg-3">
                            {% if channelImage != "" %}
                            <img class="img-circle slicicaChannel" src="{{ channelImage }}">
                            {% else %}
                            <img class="img-circle slicicaChannel" src="https://pbs.twimg.com/profile_images/2475823422/zpeuqn7p5i55ho6oozli.jpeg">
                            {% endif %}
                        </div>
                        <div class="col-md-9 col-xs-7 col-lg-9">
                            <p class="labela">{{ channelName }}</p>
                            <p class="labelaDesc">- {{ channelDescription }}</p>
                        </div>

                    </div>
                </div>

                <p class="labela">Now playing:</p>
                <div id= "now_playing_list" class="row queueWrap">

                </div>
            </div>
        </div>
    </div>

    <div style="width: 100%; height: 100px"></div>


    <a href="{{ path('playerpage', {'id': channelId}) }}">
        <img class="img-responsive img-circle plus" src="{{ asset('bundles/main/images/play.png') }}">
        <img id="plusFaded" class="img-responsive img-circle plus" src="{{ asset('bundles/main/images/plusFade.png') }}">
    </a>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {% include "MainBundle:DJPage:auth.js.twig" %}
    <script>{% include "MainBundle:DJPage:search.js.twig" %}</script>

    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
    </body>


{%  endblock body %}
