
// Your use of the YouTube API must comply with the Terms of Service:
// https://developers.google.com/youtube/terms
var YT = 'undefined';
// Helper function to display JavaScript value on HTML page.
function showResponse(response) {
    YT = response;
    }

// Called automatically when JavaScript client library is loaded.
function onClientLoad() {
    gapi.client.load('youtube', 'v3', onYouTubeApiLoad);
    }

// Called automatically when YouTube API interface is loaded (see line 9).
function onYouTubeApiLoad() {
    // This API key is intended for use only in this lesson.
    // See http://goo.gl/PdPA1 to get a key for your own applications.
    gapi.client.setApiKey('AIzaSyBx5M2JKydT9on3eMyLNLPn49z54dsJ1d8');
    }
// After the API loads, call a function to enable the search box.
//function handleAPILoaded() {
$('#search-button').attr('disabled', false);
//}

// Search for a specified string.

var yt_results;

var key = "AIzaSyBx5M2JKydT9on3eMyLNLPn49z54dsJ1d8";
function search() {
        console.log("meh");

        var maxResults = 20;
        var searchText = $('#query').val();
        var key = "AIzaSyBx5M2JKydT9on3eMyLNLPn49z54dsJ1d8";


        $.get( "https://www.googleapis.com/youtube/v3/search?part=snippet&q=" + searchText + "&maxResults=" + maxResults + "&type=video&key=" + key,
            function( data ) {

            $("#search-container").empty();

                $( ".result" ).html( data );

                yt_results = data;

                for (var itemind in data["items"])
                {
                    var item = data["items"][itemind];





                    $("#search-container").append(
                        "<div style='padding: 10px;'>"/*+
                        "<p class='videoName' style='margin-top: 10px'>" +
                        item["snippet"]["title"] +
                        "</p>" */+
                        "<img class='img img-responsive center-block' src='" +
                        item["snippet"]["thumbnails"]["medium"]["url"] +
                        "' style=\" border-radius: 5px;\"/>"+
                        "<p class='videoNameSearch' style='margin-top: 10px'>" +
                        item["snippet"]["title"] +
                        "</p>" +
                        "<p class='videoDuration' style='margin-top: 10px'>" +
                        item["snippet"]["title"] +
                        "</p>" +
                        "<button title=\"Add song to playlist\" style=\"border-radius: 5px;\"class='col-md-4 col-md-offset-1 btn btn-success ' " +
                        "onclick='funk(" + itemind +
                        ",false)'><i class=\"fa fa-plus\" aria-hidden=\"true\"></i></button>"+
                        "<button title=\"Add song to plylist and append it to end every time it ends\" style=\"border-radius: 5px;\"class=' col-md-4 col-md-offset-2 btn btn-danger ' " +
                        "onclick='funk(" + itemind +
                        ",true)'><i class=\"fa fa-repeat\" aria-hidden=\"true\"></i></button>"+
                        "<hr>"+
                        "</div>");
                }
        });

    {#var q = $('#query').val();#}
    {#var request = gapi.client.youtube.search.list({#}
        {#q: q,#}
        {#part: 'snippet'#}
    {#});#}

    {#request.execute(function(response) {#}
        {#var str = JSON.stringify(response.result);#}
        {#$('#search-container').html('<pre>' + str + '</pre>');#}
    {#});#}
}

var lastStart;
$(function()
{
    lastStart = new Date("{{ channelStart |date('Y-m-d h:i:s')}}");

    console.log("{{ channelStart |date('Y-m-d h:i:s')}}");

    console.log(lastStart);

    var videos = {
    {% for video in videos %}

    {{ video.id }} : {
        "name" : "{{ video.name }}",
        "thumb": "{{ video.thumb }}",
        "duration": "{{ video.duration }}"
        },

    {% endfor %}
    }

    console.log(videos);
    var nowPlaying = $("#now_playing_list");


    var videoDivs = {};

    for(var ind in videos)
    {
        var video = videos[ind];

        var newSong = $('<div class="col-md-12 col-xs-12">' +
        '<div class="row">' +
        '<div class="col-md-8">' +
        ' <p class="videoName"  style="text-align: center">' + video["name"] + '</p>'+
        ' <p class="videoDuration"  style="text-align: center">' + convertHoursMinutesSeconds(video["duration"]) + '</p>'+
        '</div>'+
        ' <div class="col-md-4">'+
        '<img class="thumbQueue img center-block" src="' + video["thumb"] + '" />'+
        '</div>'+
        '</div>'+

        ' <hr>'+
        '</div>');

        //console.log(newSong);

        //videoDivs[ind] = newSong;

        nowPlaying.append(newSong);
        //console.log(newSong);

        console.log("last start " + lastStart);

        var dif = new Date().getTime() - lastStart.getTime();

        console.log("last start " + lastStart);

        console.log("now date " + new Date());
        console.log("now date.time " + new Date().getTime());

        console.log("dif is " + dif);

        var desolveAfter = video["duration"]*1000 - dif;
        if (desolveAfter <= 0) desolveAfter = 0;

        console.log("disolve is " + desolveAfter);

        console.log("last start " + lastStart);
        console.log("get seconds " + lastStart.getSeconds());
        lastStart.setTime(lastStart.getTime() + video["duration"]*1000);

        console.log("get seconds " + lastStart.getSeconds());

        console.log("video dur " + video["duration"]);

        console.log("last start " + lastStart);

        setTimeout(function(_this)
        {
            console.log(_this);
            console.log("herhe");
            _this.fadeOut();
            _this.remove();

            _this.innerHTML="";
        }, desolveAfter, newSong);
    }




});

function funk(id, repeat)
{
    console.log(yt_results);
    console.log(id);
    console.log(yt_results["items"][id]);

    var singleResult = yt_results["items"][id];

    var yt_id = singleResult["id"]["videoId"];
    var name= singleResult["snippet"]["title"];
    var thumb = singleResult["snippet"]["thumbnails"]["medium"]["url"];

    channel_id = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);

    $.get("https://www.googleapis.com/youtube/v3/videos?id=" +  yt_id + "&part=contentDetails&key=" + key,
            function(data)
            {
                var duration = data["items"][0]["contentDetails"]["duration"];

                $.post(
                        "{{ path("add_video") }}",
                        {
                            "name": name,
                            "yt_id": yt_id,
                            "channel": channel_id,
                            "thumb": thumb,
                            "duration": duration,
                            "repeat": repeat
                        },
                        function( data )
                        {
                            //alert("It works!");

                            var nowPlaying = $("#now_playing_list");

                            var newSong = $('<div class="col-md-12 col-xs-12">' +
                                '<div class="row">' +
                                    '<div class="col-md-8">' +
                                       ' <p class="videoName">' + name + '</p>'+
                                    ' <p class="videoDuration"  style="text-align: center">' + convertHoursMinutesSeconds(convert_time(duration)) + '</p>'+
                                    '</div>'+
                                   ' <div class="col-md-4">'+
                                        '<img class="thumbQueue img" src="' + thumb + '" />'+
                                    '</div>'+
                                '</div>'+

                               ' <hr>'+
                            '</div>');

                            if (nowPlaying.children().length == 0)
                            {
                                lastStart = new Date(Date.now());
                            }

                            nowPlaying.append(newSong);

                            console.log("convert time");
                            console.log(convert_time(duration));

                            duration = convert_time(duration);

                            console.log("last start " + lastStart);

                            var dif = new Date().getTime() - lastStart.getTime();

                            console.log("last start " + lastStart);

                            console.log("now date " + new Date());
                            console.log("now date.time " + new Date().getTime());

                            console.log("dif is " + dif);

                            var desolveAfter = duration*1000 - dif;
                            if (desolveAfter <= 0) desolveAfter = 0;

                            console.log("disolve is " + desolveAfter);

                            console.log("last start " + lastStart);
                            console.log("get seconds " + lastStart.getSeconds());
                            lastStart.setTime(lastStart.getTime() + duration*1000);

                            console.log("get seconds " + lastStart.getSeconds());

                            console.log("video dur " + duration);

                            console.log("last start " + lastStart);


                            setTimeout(function(_this)
                            {
                                console.log(_this);
                                console.log("herhe");
                                _this.fadeOut();
                                _this.remove();

                                _this.innerHTML="";
                            }, desolveAfter, newSong);

                        }
                );
            });


}



function convert_time(duration) {
    var a = duration.match(/\d+/g);

    if (duration.indexOf('M') >= 0 && duration.indexOf('H') == -1 && duration.indexOf('S') == -1) {
        a = [0, a[0], 0];
    }

    if (duration.indexOf('H') >= 0 && duration.indexOf('M') == -1) {
        a = [a[0], 0, a[1]];
    }
    if (duration.indexOf('H') >= 0 && duration.indexOf('M') == -1 && duration.indexOf('S') == -1) {
        a = [a[0], 0, 0];
    }

    duration = 0;

    if (a.length == 3) {
        duration = duration + parseInt(a[0]) * 3600;
        duration = duration + parseInt(a[1]) * 60;
        duration = duration + parseInt(a[2]);
    }

    if (a.length == 2) {
        duration = duration + parseInt(a[0]) * 60;
        duration = duration + parseInt(a[1]);
    }

    if (a.length == 1) {
        duration = duration + parseInt(a[0]);
    }
    return duration
}

function convertHoursMinutesSeconds(sec_num)
{
    var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = sec_num - (hours * 3600) - (minutes * 60);

    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    return hours+':'+minutes+':'+seconds;

    {#if (hours > 0)#}
        {#return hours+':'+minutes+':'+seconds;#}
    {#if (minutes > 0)#}
        {#return hours+':'+minutes+':'+seconds;#}
    {#return secs;#}
}


var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};


$("#query").keyup(function(event){
    if(event.keyCode == 13){
        $("#search-button").click();
    }
});

