{% extends "MainBundle::layout.html.twig" %}

{% block title %}
    <title>{{ channel.Name }}</title>
{% endblock title %}

{% block body %}
<body>
    <style>
        body {
            background-image: url("{{ asset('bundles/main/images/stripesWide.png') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <div class="navigacija">
        <a href="{{ path('showall') }}">
            <p class="navPigster">Pigster</p>
            <img id="pigpig" class="prase clickable" src="{{ asset('bundles/main/images/pigFade.png') }}">
            <img class="img-responsive prase" src="{{ asset('bundles/main/images/pig.png') }}">
        </a>
    </div>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">

            <div class="col-md-6 col-xs-12" style="background-color: rgba(255, 255, 255, 0.5);">
                <p class="labela">{{ channel.Name }}</p>
                <p class="labelaDesc">- {{ channel.Description }}</p>

                <div class="myIframe"  style="margin-top: 20px; margin-bottom: 20px">
                    {% if videos is not empty  %}
                    <iframe class="center-block" width="600" height="493"
                            src="http://www.youtube.com/embed/{{ videos[0].getYtId() }}?autoplay=1&start={{ videoTime }}">
                    </iframe>
                    {% else %}
                        <p style="font-size: 40px; text-align: center">Playlist is empty. Add some music!</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <p class="labela" style="margin-left: 20px">Next:</p>
                <div id= "now_playing_list" class="row queueWrap">
                {% for item in videos|slice(1) %}
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-8">
                                 <p class="videoName" style="text-align: center">{{ item.name }}</p>
                                <p class="videoDuration" style="text-align: center">{{ item.duration }}</p>
                            </div>
                            <div class="col-md-4">
                                <img class="thumbQueue img center-block" src="{{ item.thumb }}" />
                            </div>
                        </div>

                         <hr>
                    </div>
                {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('djpage', {'id': channel.id}) }}">
        <img class="img-responsive img-circle plus" src="{{ asset('bundles/main/images/plus.png') }}">
        <img id="plusFaded" class="img-responsive img-circle plus" src="{{ asset('bundles/main/images/plusFade.png') }}">
    </a>

    <div style="width: 100%; height: 100px"></div>

</body>
<script>

    {% if videos is not empty  %}

        setTimeout(function(){
            location.reload();
        }, ({{ videoLeft }}+2) * 1000);

    {% endif %}

    $(".videoDuration").each(function(){
        console.log(this.innerHTML);
        this.innerHTML = convertHoursMinutesSeconds(this.innerHTML);
    });


    function convertHoursMinutesSeconds(sec_num)
    {
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}
        return hours+':'+minutes+':'+seconds;

        {#if (hours > 0)#}
        {#return hours+':'+minutes+':'+seconds;#}
        {#if (minutes > 0)#}
        {#return hours+':'+minutes+':'+seconds;#}
        {#return secs;#}
    }

//    // 2. This code loads the IFrame Player API code asynchronously.
//    var tag = document.createElement('script');
//
//    tag.src = "https://www.youtube.com/iframe_api";
//    var firstScriptTag = document.getElementsByTagName('script')[0];
//    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
//
//    // 3. This function creates an <iframe> (and YouTube player)
//    //    after the API code downloads.
//    var player;
//    function onYouTubeIframeAPIReady() {
//        player = new YT.Player('player', {
//            height: '390',
//            width: '640',
//            videoId: 'M7lc1UVf-VE',
//            events: {
//                'onReady': onPlayerReady,
//                'onStateChange': onPlayerStateChange
//            }
//        });
//    }
//
//    // 4. The API will call this function when the video player is ready.
//    function onPlayerReady(event) {
//        event.target.playVideo();
//    }
//
//    // 5. The API calls this function when the player's state changes.
//    //    The function indicates that when playing a video (state=1),
//    //    the player should play for six seconds and then stop.
//    var done = false;
//    function onPlayerStateChange(event) {
//        if (event.data == YT.PlayerState.PLAYING && !done) {
//            setTimeout(stopVideo, 6000);
//            done = true;
//        }
//    }
//    function stopVideo() {
//        player.stopVideo();
//    }
</script>

{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>#}
{#{% include "MainBundle:DJPage:auth.js.twig" %}#}
{#<script>{% include "MainBundle:DJPage:search.js.twig" %}</script>#}

<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

{% endblock body %}