function channelSubmit()
{
    var name = $("#form_name").val();
    console.log(name);

    var description = $("#form_description").val();
    console.log(description);

    var imageurl = $("#form_image").val();
    console.log(description);

    $.post(
            "{{ path("add_channel") }}",
            {
                "name": name,
                "description": description,
                "imageurl": imageurl
            },
            function( data )
            {
                //alert("dobar si cane!");

                {#$("#myModal").modal('hide');#}

                {#$("#form_name").val("");#}
                {#$("#form_description").val("");#}

                window.location.href = "/dj/" + data;
            }
    );
}