{% extends "MainBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block text_widget %}
    <div class="text_widget">
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block body %}

    <style>
        body {
            background-image: url("{{ asset('bundles/main/images/stripesWide.png') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 text-center createBox">
                {{ form_start(form) }}
                <label class="label labela">Name</label>
                {{ form_start(form) }}
                {{ form_widget(form.name) }}
                <label class="label labela">Description</label>
                {{ form_widget(form.description) }}
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div style="width: 100%; height: 100px"></div>

{% endblock body %}