{% extends "MainBundle::layout.html.twig" %}

{% block title %}
    <title>Channels</title>
{% endblock title %}

{% block body %}

<style>
    body {
        background-image: url("{{ asset('bundles/main/images/stripesWide.png') }}");
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="navigacija">
    <a href="{{ path('showall') }}">
        <p class="navPigster">Pigster</p>
        <img id="pigpig" class="prase clickable" src="{{ asset('bundles/main/images/pigFade.png') }}">
        <img class="img-responsive prase" src="{{ asset('bundles/main/images/pig.png') }}">
    </a>
</div>

<div class="container-fluid clickable">
    {% if (channels != null) %}
        {% for channel in channels %}
                <div onclick="window.location.href = '{{ path('playerpage', {'id': channel.id}) }}';" class="col-lg-4 col-md-6 col-xs-12" style="margin-top: 20px; height: 120px">
                    <div class="channelBox" style="padding: 10px; padding-left: 20px">
                        <div class="row">
                            <div class="col-md-7 col-xs-7" style="line-height: 90%;">
                                <p class="labela">{{ channel.name }}</p>
                                <!--<div>{{ channel.id }}</div>-->
                                <p>- {{ channel.description }}</p>
                                <p>Now playing:</p>
                            </div>
                            <div class="col-md-5 col-xs-5">
                                {% if channel.imageurl != "" %}
                                    <img class="img-circle pull-right slicica" src="{{ channel.imageurl }}">
                                {% else %}
                                    <img class="img-circle pull-right slicica" src="https://pbs.twimg.com/profile_images/2475823422/zpeuqn7p5i55ho6oozli.jpeg">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        {%  endfor %}
    {% else %}
        <div>No channels to show!</div>
    {% endif %}

    <img class="img-responsive img-circle plus" src="{{ asset('bundles/main/images/plus.png') }}">
    <img id="plusFaded" class="img-responsive img-circle plus" id="addChannel" data-toggle="modal" data-target="#myModal"
         src="{{ asset('bundles/main/images/plusFade.png') }}">

</div>

    <!-- Modal -->
    <center>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
                <div class="row">
                    <div class="col-md-offset-4 col-md-4 text-center createBox center-block" style="width: 100%">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p style="font-size: 20px">Create your own channel!</p>
                        <label class="label labela">Name</label>
                        <div class="text_widget">
                            <input id="form_name" style="width: 70%; margin-bottom: 15px; margin-top: 10px;" />
                        </div>
                        <label class="label labela">Description</label>
                        <textarea id="form_description" style="width: 70%; display: block; margin-left: auto; margin-right: auto; height: 100px;"></textarea>
                        <label class="label labela">Image url</label>
                        <div class="text_widget">
                            <input id="form_image" style="width: 70%; margin-bottom: 15px; margin-top: 10px;" />
                        </div>
                        <button onclick="channelSubmit()" id="form_submit" class="btn btn-primary"
                                style="width: 50%; margin-top: 50px; text-transform: uppercase; font-weight: bold;">Create</button>
                    </div>
                </div>


        </div>
    </div>
    </center>


   <script> {% include "MainBundle:ChannelsPage:addChannelsModal.js.twig" %} </script>
{% endblock body %}