{% extends 'base.html.twig' %}

{% block body %}
    <h1>Channel list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Imageurl</th>
                <th>Start</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td><a href="{{ path('admin_channel_show', { 'id': channel.id }) }}">{{ channel.id }}</a></td>
                <td>{{ channel.name }}</td>
                <td>{{ channel.description }}</td>
                <td>{{ channel.imageurl }}</td>
                <td>{% if channel.start %}{{ channel.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_channel_show', { 'id': channel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_channel_edit', { 'id': channel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_channel_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
