{% extends 'base.html.twig' %}

{% block body %}
    <h1>Channel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ channel.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ channel.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ channel.description }}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ channel.imageurl }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{% if channel.start %}{{ channel.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_channel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_channel_edit', { 'id': channel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
